<div class="container" style="margin-top: 5em;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <!--=== 搜索结果，有符合条件的数据 ===-->
         <!--=== 搜索结果文字 ===-->
        <div class="col-md-10 col-md-offset-1 page-title">
          <h1><span class="fa fa-search"></span> 正在热招的职位
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary">按需求排序</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                <li><%= link_to("按薪资下限排序", jobs_path(order: "by_lower_bound"))%></li>
                <li><%= link_to("按薪资上限排序", jobs_path(order: "by_upper_bound"))%></li>
                <li><%= link_to("按发布时间排序", jobs_path )%></li>
              </ul>
            </div>
          </h1>
        </div>

        <%= render "form" %>

    </div>
  </div>
</div>
