<div class="jumbotron">
  <h1 class="title">352 Offer</h1>
  <p class="slogan">352 Offer 三下五除二，让好工作来抢你！
  <br>
  让最好的人才,遇见更好的机会
  </p>
  <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">马上应聘</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws3.sinaimg.cn/large/006tNbRwly1fhbfftw50fj302s02sdfl.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h4>北京朝阳建外SOHO</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws3.sinaimg.cn/large/006tNbRwly1fhbffxx1fkj302s02s741.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h4>info@18koffer.com</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws3.sinaimg.cn/large/006tNbRwly1fhbfg7w2akj302s02s741.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h4>010-12344321</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
