<div class="jumbotron">
  <h1 class="title">352 Offer</h1>
  <p class="slogan">352 Offer 三下五除二，让好工作来抢你！
  <br>
  让最好的人才,遇见更好的机会
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应聘</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws4.sinaimg.cn/large/006tNbRwly1fhbc03jig2j3046046t8i.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h4>北京朝阳建外SOHO</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws2.sinaimg.cn/large/006tNbRwly1fhbbtdwmbnj3046046mwx.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h4>info@18koffer.com</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws3.sinaimg.cn/large/006tNbRwly1fhbbtpqr8sj3046046mwy.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h4>010-12344321</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
