/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-default {
  background-color: #3d3d3d;
  border          : none;
  border-radius   : 0;
  margin-bottom   : 0;
}

.navbar-default .navbar-brand {
  color      : #fff;
  padding    : 10px 15px; //上下10px,左右15px
  line-height: 30px; //文字行高
  font-size  : 25px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0; //圆角为0
  }
}

.container-fluid .jumbotron {
  padding-bottom: 110px; //内部的底部边距，这样按钮不会很靠近底部了
  margin        : 0 -15px 20px; //顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius : 0; //圆角为0
}

.jumbotron {
  background-image : url('https://ws4.sinaimg.cn/large/006tNbRwly1fhbe7hhve0j31gi0dxtm7.jpg');
  background-repeat: no-repeat;
  background-size  : cover;
  padding-bottom   : 110px;
  color            : white;
}

.title {
  font-family  : "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align   : left;
  margin-top   : 80px;
  margin-bottom: 50px;
}

.slogan {
  margin-top   : 10px;
  margin-bottom: 50px;
  text-align   : left;
  color        : white;
  top          : 12px;
}

.lead {
  margin-bottom: 60px;
  text-align   : left;
  color        : white;
}

.caption {
  margin    : 30px;
  text-align: center;
  top       : 20px;
}

.thumbnail {
  border    : 0 none;
  box-shadow: none;
  margin-top: 60px;
}

.custab {
  border    : 1px solid #ccc;
  padding   : 5px;
  margin    : 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover {
  box-shadow: 3px 3px 0 transparent;
  transition: 0.5s;
}
